%arrowNav {
  width: $sizeArrowNav;
  height: $sizeArrowNav;

  border-top: 2px solid $colorTitle;
  border-right: 2px solid $colorTitle;
}

%triangleNav {
  border: 10px solid transparent;
  border-top: 10px solid $colorTitle;
}
