$sizePC: 1400px;

$paddingLogo: 10px;
$heightHeader: 100%;
$widthHeader: 100%;
$sizeArrowNav: 5px;
$positionPseudoElement: 50%;
$sizeArrowSlider: 30px;

$colorTitle: #fff;
$colorText: #808080;
$bgColorServices: #565656;
